* @quinnicious

/docs/**.md @@SCPF-AdministratorMr-Foundation/o5-council
/docs/images/** @@SCPF-AdministratorMr-Foundation/o5-council

/docs/changelogs/changelogs.md @SCPF-AdministratorMr-Foundation/senior-developers