// Color Variables - Backgrounds
$lighter-dark: #36393F;
$sorta-dark: #2F3136;
$dark-grey: #2A2C31;

// Color Variables - Text
$solid-white: #FFFFFF;
$regular-text: #ACACA9;


// Content Colours
$body-background-color: $lighter-dark;
$sidebar-color: $sorta-dark;
$border-color: $regular-text;

// Search Colours
$search-background-color: $lighter-dark;
$search-result-preview-color: $lighter-dark;

// Body Colours
$body-heading-color: $regular-text;
$body-text-color: $regular-text;

// Links Colours
$link-color: $solid-white;
$nav-child-link-color: $regular-text;

// Miscellaneous Colours
$table-background-color: $sorta-dark;
$code-background-color: $sorta-dark;
$feedback-color: $dark-grey;

// Border Properties
$border: 0px solid;
$border-radius: 0px;